<div class="row">
  <% @orders.each do |order| %>
    <div class="col-sm">
      <h1>
        Order # <%= order.id %>:
        <%= link_to order.product.name, order %>
      </h1>
      <p><%= order.product.description %></p>
      <strong>$ <%= order.product.price %></strong>
    </div><!-- /col -->
  <% end %>
</div>

<div class="container-fluid anchor">
  <div class="new">
    <h1>Our Bikes</h1>
  </div>
  
  <div class="row" id="productos">
    <% @orders.each do |order| %>
    <div class="col-md-4">
      <h1>Order # <%= order.id %>:<%= link_to order.product.name, order %></h1>
      <p><%= link_to order.product_id, order.product %></p>
      <p><%= order.product.description %></p>
      <p><%= order.product.color %></p>
      <p><%= order.product.price %></p>
      <p><%= link_to(image_tag(order.product.image_url, class: "img-responsive"), order) %><!--/a--></p>
      <p><%= link_to 'Show', order %></p>
      <p><%#= link_to 'Edit', edit_product_path(product) %></p>
      <p><%#= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
    </div><!-- /col -->
    <% end %> 
  </div>
</div>
