<p id="notice"><%= notice %></p>

<div class="container anchor introshow">
<h3>
  <strong>Name:</strong>
  <%= @product.name %>
</h3>

<h4>
  <strong>Description:</strong>
  <%= @product.description %>
</h4>

<h4>
  <strong>Color:</strong>
  <%= @product.color %>
</h4>

<h4>
  <strong>Price:</strong>
  <%= @product.price %>
</h4>

  <strong>Image url:</strong>
  <%= image_tag(@product.image_url, class: "img-zoom img-responsive bigshowpic") %>

<%=  @product.highest_rating_comment %>
<%=  @product.lowest_rating_comment %>
<%#= @product.comments %>

</div>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %> |

<%= link_to 'Back to order', order_path %>
